<div id="modal-prevent-departure" class="modal">
    <div class="modal-content">
        <h4>Are you sure you want to leave this page ?</h4>
        <p>
            If you are currentily talking to the chatbot, it will close the conversation and add it to history.
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" id="modal-quit-chatbot-button" class="modal-close waves-effect waves-teal btn-flat modal-link-click-exception">Yes i want to leave this page</a
    >
    <a
      href="#!"
      id="modal-cancel-chatbot-button"
      class="modal-close waves-effect waves-red btn-flat modal-link-click-exception"
      >Cancel</a
    >
  </div>
</div>