{% extends "layouts/base.html" %} {% block title %} History {% endblock %} {% block links %}
<link href="{{ url_for('static', filename='css/chatbot.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />
<link href="{{ url_for('static', filename='css/history.css') }}" type="text/css" rel="stylesheet" media="screen,projection" /> {%endblock %} {% block pageContent %}
<h3>Your conversations history</h3>
<div id="history-app"></div>

{% block scripts %}
<script src="{{ url_for( 'static', filename='vuejs_dist/history_app/js/chunk-vendors.js' ) }} "></script>
<script src="{{ url_for( 'static', filename='vuejs_dist/history_app/js/app.js' ) }} "></script>
{% endblock %} {% endblock %}